@model List<Empleados>
@{
    ViewData["Title"] = "Empleados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="ContenedorModal"></div>
<div class="d-flex mb-2">
    <div class="me-auto"><h1>Empleados</h1></div>
    <div class="p-2">
      

    </div>
</div>



<div class="card">
    <div class="card-header">
        Lista de empleados
    </div>
    <div class="card-body">

        <button type="button" class="btn btn-primary"
                data-toggle="ajax-modal" data-target="#NuevoEmpleado"
                data-url="@Url.Action("RegistrarEmpleadoModal")">
            <b>Registrar Empleado</b>
        </button>

        <hr />
         <div class="table-responsive mt-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Dirección</th>
                    <th>Dui</th>
                    <!--<th>Fecha de Nacimiento</th>
                    <th>Telefono</th>
                    <th>ISS</th>
                    <th>AFP</th>
                        <th>Sueldo</th>-->
                    <th>Cargo Empleado</th>
                    <th>Area empleado</th>
                    <th>Usuario</th>
                    <th>Acciones</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.nombres_empleado</td>
                        <td>@item.apellidos_empleado</td>
                        <td>@item.direccion_empleado</td>
                        <td>@item.dui_empleado</td>
                     
                        <td>
                                @foreach (Cargos cargo in ViewBag.cargos)
                                {
                                    if (@item.id_cargo_empleado == @cargo.id_cargos_empleado)
                                        @cargo.cargos_empleado;
                                    ;


                                }
                            </td>
                        <td>
                        @foreach(Areas area in ViewBag.areas)    
                        {
                                    if (@item.id_area == @area.id_area)
                                    @area.nombre_area;
                                       
                              }
                            </td>
                        <td>@item.id_usuario</td>
                        <td>

                                <button type="button" class="btn btn-primary"
                                    data-toggle="ajax-modal" data-target="#EditarEmpleado"
                                    data-url="@Url.Action("EditarEmpleadoModal" ,"Empleados", new {id = @item.id_empleado})"
                                    asp-route-id="@item.id_empleado">
                                 
                                                                      
                                    <b>Editar Empleado</b>
                                </button>
                            <a asp-action="EliminarEmpleado" asp-controller="Empleados" asp-route-id="@item.id_empleado" class="btn btn-danger"><b>Eliminar</b></a>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
        </div>
    </div>

</div>